*, *::before, *::after{
    box-sizing: border-box;
}
@font-face {
    font-family: "opensan";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poppin";
    src: url(Poppins/Poppins-Regular.ttf);
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main{
    max-width: 1100px;
    padding: 60px 60px 0;
    margin: 50px auto 0;
    height: 90vh;
    position: relative;

}
.left > img{
    width: 100%;
}
h1, h2{
    font-family: "poppin";
    color: white;
    margin-top: 10px;
}
p{
    font-family: "opensan";
    color: rgba(255, 255, 255, 0.753);
    margin-bottom: 35px;
}
.huddle{
    width: 200px;
}
.min-main{
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
.right{
    padding: 2px 10px;
}
.illustration{
    width: 100%;
}
.i-icon{
    margin: 5px;
    border: 1.5px solid white;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.icon{
    margin-left: auto;
    width: 140px;
    display: flex;
}
a{
    font-family: "poppin";
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    background-color: white;
    padding: 9px 50px;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 500;
}
@media (max-width: 920px) {
    .min-main{
        gap: 15px;
    }
    .main{
        padding: 20px;
    }
    .right{
        padding: 10px 20px;
        width: 100%;
    }
    h1{
        font-size: 23px;
        margin-top: 0;
        margin-bottom: 3px;
    }
    p{
       font-size: 13px;
    }
    .icon{
        margin-right: 10px;
    }
}
@media (max-width: 780px){
    .icon{
        margin-top: 100px;
    }
}
@media (max-width: 693px){
    .right{
        padding: 2px 20px;
        width: 100%;
    }
    p{
        margin-bottom: 20px;
    }
}
@media (max-width: 643px){
    body{
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .min-main{
        display: block;
    }
    p{
        margin-bottom: 40px;
        
    }
    .right{
        margin-top: 60px;
        margin-bottom:  30px;
        text-align: center;
    }
    .main{
        height: auto;
        margin-top: 15px;
    }
    
    .icon{
        position: static;
        margin: 70px auto 50px;
    }
}

@media (max-width: 557px){
    h1{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
}